* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(Se4hJq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: auto;
  
}
main {
  width: 70%;
  margin-left: 15%;
}
header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.form-group #passwordHelpBlock {
  position: absolute;
}


@media only screen and (max-width: 762px) {
 .address {
 margin-top: 10%;
  }
}@media only screen and (max-width: 344px) {
  .address {
  margin-top: 22%;
   }
 }
 @media only screen and (max-width: 768px) {
 body{
padding-top:20% ; 
background-repeat: round;

 }}
